@import url("https://fonts.googleapis.com/css2?family=Alata&family=Anybody:wght@300;400&family=BIZ+UDPGothic:wght@400;700&family=Epilogue:wght@500;700&family=Exo:wght@400;500;600&family=Roboto:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
}

body {
  background-color: #f1f5f9;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.page {
  min-height: 100vh;
}

/* aside start */
.aside {
  background-color: #fff;
  width: 250px;
  padding: 20px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.11);
}

.aside .name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%
}

.aside ul {
  padding: 20px;
}

.aside ul li {
  margin-bottom: 5px;
  padding: 10px;
  width: 100%;
  transition: .2s;
}

.aside ul li:hover:not(li.active) {
  background-color: #f1f5f9;
}

.aside ul li a {
  color: initial;
}

.aside ul li.active {
  background-color: #f1f5f9;
}

@media (max-width:768px) {
  .aside {
    width: 62px;
    padding: 0;
  }

  .aside .name,
  .aside ul li p {
    display: none;
  }
}

/* aside end */
.content {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

/* head start */
.head {
  justify-content: space-between;
  padding: 10px 15px;
  background-color: #fff;
}

.head .search {
  position: relative;
}

.head .search i {
  position: absolute;
  padding-left: 5px;
}

.head .search input {
  padding-left: 25px;
  width: 150px;
  border: 1px solid #ddd;
  outline: 1px solid #ccc;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.head .search input:hover {
  width: 200px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.head .user img,
.head .user i {
  cursor: pointer;
}

.head .user img {
  width: 25px;
  height: 25px;
}

.head .user i {
  font-size: 25px;
}

/* head end */
/* main content start */
.dashboard {
  padding: 10px 15px;
  font-size: 25px;
  position: relative;
}

.dashboard::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 2px;
  background-color: #000;
  bottom: 0;
}

.wrraper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 15px;
  padding: 10px 15px;
}

@media(max-width:767px) {
  .wrraper {
    grid-template-columns: minmax(200px, 1fr);
  }
}

.wrraper .user-box,
.wrraper .Draft-box {
  padding: 10px 15px;
  text-align: center;
  background-color: white;
  border-radius: 10px;
}

.wrraper .Draft-box {
  text-align: inherit;
}

.wrraper .user-box .intro,
.wrraper .Draft-box .intro {
  width: fit-content;
  letter-spacing: 1px;
}

.wrraper .user-box .personal-img-holder img {
  width: 100px;
  height: 100px;
  background-color: #fff;
  padding: 6px;
  border-radius: 50%;
  border: 2px solid #0075ff;
  border-top-color: transparent;
  margin-bottom: 15px;
}

.wrraper .user-box .account-stats .account-info-list {
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.wrraper .user-box .edit-info button,
.wrraper .Draft-box .textarea .button button {
  border: none;
  color: white;
  background-color: #0075ff;
  padding: 5px;
  border-radius: 10px;
}

.wrraper .Draft-box .input {
  width: 100%;
}

.wrraper .Draft-box .input input,
.wrraper .Draft-box .textarea textarea {
  width: 100%;
  border: none;
  outline: none;
  background-color: #eee;
  border-radius: 5px;
  resize: none;
  padding: 5px;
}

.wrraper .Draft-box .input {
  margin-bottom: 10px;
}

.wrraper .Draft-box .button {
  text-align: end;
}